@font-face {
  font-family: 'UNPEOPLE Gothic';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/UNPEOPLEGothic/UNPEOPLEGothic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/UNPEOPLEGothic/UNPEOPLEGothic.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/UNPEOPLEGothic/UNPEOPLEGothic.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/UNPEOPLEGothic/UNPEOPLEGothic.ttf') format('truetype');
}